---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
			{process.env.SITE_NAME}✨ - Not Found
		</title>
        <link rel="icon" href="../../favicon.svg" sizes="any" type="image/svg+xml">
        <link rel="stylesheet" href="../../css/error.css">
    </head>
    
    <div class="site">
        <div class="sketch">
            <div class="bee-sketch red"></div>
            <div class="bee-sketch blue"></div>
        </div>
    
    <h1>404:
        <small>Page Not Found</small></h1>
    </div>
</html>
